
  
  .corp-footer {
    display: none;
  }
  
  .officialCredential-footer{

    bottom: 10px;
    width: 100%;
  }
  .officialCredential-footer a {
    color: #000;
      font-size: 0.8rem;
  
  }
  
  .officialCredential-layout {
    height: 120px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 25px;
  
    text-align: center;
    /*  min-height: 95vh; */
  }
  
  .ant-modal-title {
    margin: 0;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    word-wrap: break-word;
  }
  
  .officialCredential-layout .header {
  //  background: #de003e;
    color: #fff;
  }
  .officialCredential{
    background:  #de003e  no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: unset !important;
    top: 20px;
    left: 0;
    min-width: 414px;
    height: 736px;
    width: 414px;
    color: white;
    margin: 0 auto;
  }
  .official-credential-container{
    background:  #de003e  no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: unset !important;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 812px;
  
  }
  .officialCredential-layout  *::before, *::after {
     box-sizing:unset !important
  }
  
  .usuarioNoAutorizado{
    background:#fff;
    color:  #de003e ;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
  
  }
  .Credencial{
    padding-top: 30px;
  }
  .dataCredential{
    padding-top: 30px;
  }
  .cargando{
    padding-top: 50vh;
    min-height: 538px;
  
  }



.backofficialCredential {

    min-height: 210px;
    color: #fff;
    border-radius: 10px;
  }
  
  .Logo_Rancagua {
    text-align: center;
    margin-bottom: 20px;
  }
  .Logo_Rancagua img{
  
    display:block !important;
    margin:auto;
  }
  
  
  .divDatos {
    width: 100%;
    margin-top: 10px;
    font-family: 'proxima';
    font-size: 1.1rem;
    line-height: normal;
  }
  
  .divQr {
    width: 100%;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  
  .Flex {
    display: flex;
  }
  
  .TextoTarjeta {
    font-family: 'proxima';
    text-transform: uppercase;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    height: 40px;
    font-size: 1.3rem;
padding: 2px;
margin-top: 3px;
  }
  .titleOfficialCredential{
    text-align: center;
    width: 100%;
    text-align: center;
    width: 100%;
    color: #000;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Futura';
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .textvalidation{
    font-size: 0.7rem;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
  }
  
.Flex {
    display: flex;
  }

.officialCredential {
  margin-top: 100px;
}
.letter{
    width: 100%;
    height:1024px;
}

@media print
{
  .page-break  { display:block; page-break-before:always; margin-bottom: 100px }

}